body{
    background-color: green;
}
.tela{
    width:;
    height: ;
    background-color: ;
    border: ;
    margin-top: ;
    margin-left: ;
}
    .lado{
        width:;
        height: ;
        background-color: ;
        border: ;
        margin-top: ;
        margin-left: ;
        display: inline-block;
    }
